/*elements-classes*/
html  {
  overflow: auto;
}
h1 {
  color: #313233 !important;
  margin: 20px auto;
  font-family: system-ui;
}
h2 {
    margin: 2vw;
    color: #313233 !important;
    font-family: system-ui;
}
h3 {
  color:#5388E6 !important;
  font-family: system-ui;
}
h4 {
  text-align:left;
  color: #465061 !important;
  font-family: system-ui;
}
h5 {
  font-family: system-ui;
  color: #313233 !important;
  font-size: 16px;
}
main  {
    height: 700px !important;
    position: relative;
    display: table;
    width: -webkit-fill-available;
}
input {
   border-radius: 0;
   border: #80808014 solid 1px !important;
}
a {
    text-decoration: none;
}
p {
  font-size: 16px ;
  line-height: 1.9;
  font-family: monospace;
  text-align: justify;
  margin: 20px auto;
}

/*css-classes*/
.form-close-btn {
  z-index:9;
  height: 40px !important;
  margin-top: -10px !important;
  margin-left: -10px;
}
.m-tb-20 {
  margin-top:20px;
  margin-bottom:20px;
}
.v-divider {
      border-color: #1e90ff;
}
.v-dialog {
  background: #ffffff;
  padding:20px;
}
.left {
  float:left;
  text-align: -webkit-left;
}
.v-card {
  height: auto;
}
.my-3 {
  margin-top:10vw !important;
}
.v-responsive__content {
  width:auto !important;
}
.center{
  margin-left: auto !important;
  margin-right: auto !important;
  display: -webkit-inline-box !important;
}
.v-card {
  margin: 20px auto !important;
  max-width: 600px !important;
  min-width: auto !important;
}
.v-text-field input {
    flex: 1 1 auto !important;
  }
  .v-select.v-text-field input {
    position: absolute;
}
.v-parallax {
  background-color: #DADCE0;
}
.v-parallax__image {
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    min-width: 100%;
    /* min-height: 100%; */
    height: -webkit-fill-available;
    display: inline-grid;
    transform: translate(-50%, 0);
    will-change: transform;
    transition: 0.3s opacity cubic-bezier(0.25, 0.8, 0.5, 1);
    z-index: 1;
}
/*ID-classes*/
#nav a {
    font-weight: bold;
    color: #eef6fe ;
}
#nav a:visited {
    font-weight: bold;
    color: #ffffff ;
    text-decoration: none !important;
}
/* @media*/
